@import './bootstrap_custom.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 20px;
  line-height: normal;
  line-height: 1.5;
}

.post-container {
  border: 1px solid #eff0f1;
}

.post-container .post {
  padding: 20px;
}

.footer {
  height: 50px;
}