<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-md-8 col-md-offset-2">
      <% @posts.each do |post| %>
        <h1><%= link_to post.title, post , class: "pointer"%></h1>
        <em class="text-secondary">Publicado por <%= post.user.email %> hace alrededor de <%= time_ago_in_words(post.created_at) %></em>
        <p class="mt-2"><%= post.description.first(255) %></p>
      <% end %>
    </div>
  </div>
</div>